.container-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin:0;
    padding:0;
  }

  .page-title-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 5px solid #D7DBDD;
  }
  
  .back-button-container {
    margin-right: 10px; 
  }

  .back-button-container img{
    width: 50px;
    height: 50px;
  }
  
  .back-button {
    text-decoration: none;
    color: #3498db; 
    font-weight: bold;
  }
  
  .title {
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 10px;
    color: #212F3D;
  }

  .title h1{
    margin-left: 20px;
  }

  .title-table{
    height: 1.5rem;
    margin-bottom: 20px;
  }

  .content {
    flex: 1; /* Ocupa el espacio restante verticalmente */
    padding: 45px;
    padding-top: 20px;
    border: 5px solid #D7DBDD;
    border-top: 0px solid #D7DBDD;
  }

  .dashboard{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    padding: 5px;
    gap:10px;
  }

  .dashboard-item {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #002A52;
    color: #FFFFFF;
  }
  
  .dashboard-item h1 {
    font-size: 24px;
    margin: 10px 0;
    padding-bottom: 20px;
  }
  
  .dashboard-item .conteo {
    font-size: 36px;
    font-weight: bold;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
  
  .button-container div {
    display: flex;
    padding: 10px;
    gap: 10px;
  }

  .button-proyect{
    padding: 12px;
    width: 150px;
    background-color: #3D9CFF;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Roboto Flex', sans-serif;
    color: #D7DBDD;
    cursor: pointer;
  }

  .hContainer,.VerActivolabel{
    border-left: 4px solid #002A52;
    padding-left: 5px;
}
 .hContainer{
  color:#000000;
 }

  @media (max-width: 768px) {
    .container-content {
      flex-direction: column; /* Cambia a apilado en pantallas peque単as */
    }
  
    .title {
      height: 3rem; /* Reduce la altura en pantallas peque単as */
    }
  
    .title h1 {
      margin-left: 10px; /* Reduce el margen en pantallas peque単as */
    }
  
    .content {
      padding: 5px; /* Reduce el espaciado en pantallas peque単as */
    }
  }