.container-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin:0;
    padding:0;
  }
  
  .title {
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 5px solid #D7DBDD;
    color: #212F3D;
  }

  .title h1{
    margin-left: 20px;
  }

  .title-table{
    height: 1.5rem;
    margin-bottom: 20px;
  }

  .content {
    flex: 1; /* Ocupa el espacio restante verticalmente */
    padding: 10px;
    border: 5px solid #D7DBDD;
    border-top: 0px solid #D7DBDD;
  }


  @media (max-width: 768px) {
    .container-content {
      flex-direction: column; /* Cambia a apilado en pantallas peque単as */
    }
  
    .title {
      height: 3rem; /* Reduce la altura en pantallas peque単as */
    }
  
    .title h1 {
      margin-left: 10px; /* Reduce el margen en pantallas peque単as */
    }
  
    .content {
      padding: 5px; /* Reduce el espaciado en pantallas peque単as */
    }
  }