.table-container{
  width: 100%;
  overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si el contenido es demasiado ancho */
  min-width: 600px;
  padding-top: 10px;
  margin: auto;
  max-height: 400px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e0e0e0;
}
.header-cell, .table-cell {
  text-align: center;
}

.table-header {
  border-bottom: 1px solid #e0e0e0;
  background: #3D9CFF;
  color: #ffffff;
}

.header-cell {
  padding: 8px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: bold;
  border-color: #000;
} 

.table-body {
}

.table-row {
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
}

.even {
  background-color: #F4F6F7;
}

.odd {
  background-color: #ffffff;
}

.table-cell {
  padding: 2px;
  font-family: "Roboto Flex", sans-serif;
  color: #000;
}

.actions-button{
  width: 50px; 
  height: 50px; 
  padding: 0;
  border: none;
  background: none;
  border-radius: 8px;
}

.actions-button :hover{
  cursor: pointer;
  background-color: #D7DBDD;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .header-cell, .table-cell {
    padding: 6px;
    font-size: 14px;
  }

  .table-container{
    width: 100%;
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si el contenido es demasiado ancho */
    min-width: 300px;
    padding-top: 10px;
    margin: auto;
  }
}

/* .data-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e0e0e0;
    min-width: 300px;
  }
  
  .table-header {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    background: #3D9CFF;
    color: #ffffff;
    border-color: #000;
  }
  
  .header-cell {
    flex: 1;
    padding: 12px;
    font-family: "Roboto Flex", sans-serif;
    font-weight: bold;
    border-color: #000;
    color: #e0e0e0;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .table-body {
    display: flex;
    flex-direction: column;
  }
  
  .table-row {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
  }
  
  .even {
    background-color: #f9f9f9;
  }
  
  .odd {
    background-color: #ffffff;
  }
  
  .table-cell {
    flex: 1;
    padding: 12px;
    font-family: "Roboto Flex", sans-serif;
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    /* .data-table {
      flex-direction: column;
    } */
    /* .table-header, .table-row {
      flex-direction: column;
    } 
    .header-cell, .table-cell {
      padding: 6px;
      font-size: 14px;
    }
  } */