.data-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e0e0e0;
  }
  
  .table-header {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    background: #3D9CFF;
    color: #ffffff;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.75) inset;
  }
  
  .header-cell {
    flex: 1;
    padding: 12px;
    font-family: "Roboto Flex", sans-serif;
    font-weight: bold;
    color: #000;
  }
  
  .table-body {
    display: flex;
    flex-direction: column;
  }
  
  .table-row {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .even {
    background-color: #f9f9f9;
  }
  
  .odd {
    background-color: #ffffff;
  }
  
  .table-cell {
    flex: 1;
    padding: 12px;
    font-family: "Roboto Flex", sans-serif;
    color: #000;
  }

  @media (max-width: 768px) {
    .data-table {
      flex-direction: column;
    }
    .table-header, .table-row {
      flex-direction: column;
    }
    .header-cell, .table-cell {
      padding: 6px;
      font-size: 14px;
    }
  }