.table-container {
  width: 100%;
  overflow-x: auto;
  padding-top: 10px;
  margin: auto;
  max-height: 400px;
}

.table-scroll {
  overflow-x: auto;
  overflow-y: hidden;
}

.data-table {
  width:100%;
  border-collapse: collapse;
  border: 1px solid #e0e0e0;
}

.header-cell,
.table-cell {
  text-align: center;
}

.table-header {
  border-bottom: 1px solid #e0e0e0;
  background: #3d9cff;
  color: #ffffff;
}

.header-cell {
  padding: 8px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: bold;
  border-color: #000;
}

.fixed-cell {
  position: sticky;
  right: 0;
  z-index: 1;
  background-color: #3d9cff;
}
.fixed-cell-content {
  position: sticky;
  right: 0;
  z-index: 1;
  background-color: #f4f6f7;
}
.table-body {
}

.table-row {
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
}

.even {
  background-color: #f4f6f7;
}

.odd {
  background-color: #ffffff;
}

.table-cell {
  padding: 2px;
  font-family: "Roboto Flex", sans-serif;
  color: #000;
}

.actions-button {
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  background: none;
  border-radius: 8px;
}

.actions-button :hover {
  cursor: pointer;
  background-color: #d7dbdd;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .header-cell,
  .table-cell {
    padding: 3px;
    font-size: 13px;
  }

}

