@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap');

.add-form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 25px;
    padding-top: 0;
}

.form-control {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #002A52;
}

.form-control input, 
.form-control select {
    width: 250px;
    height: 40px;
    padding: 8px;
    margin: 5px;
    box-sizing: border-box;
    border: 2px solid #B2BABB;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Roboto Flex', sans-serif;
}

.form-control input:focus {
    border-color: #003087;
    outline: none; 
}

.form-control input:focus::placeholder {
    color: #212F3D; 
}

.form-button{
    padding: 12px;
}

.btn-buscar-modelo{
    width: 110px;
    height: 40px;
    background-color: #3D9CFF;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Roboto Flex', sans-serif;
    cursor: pointer;
}

.btn-buscar-modelo:hover{
    background-color: #2C7AB3;
    
}

.btn{
    width: 100px;
    height: 40px;
    background-color: #58D68D;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto Flex', sans-serif;
}

.btn:hover{
    background-color: #3E8F6B;
}

@media (max-width: 768px) {
    .add-form {
        display: flex;
        flex-direction: column;
        /* grid-template-columns: repeat(2,1fr); */
        padding: 25px;
        padding-top: 0;
    }
  }