.loginGeneral
{
  width: 100%;
  height: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #002A52;
    width: 100%;
    height: 100%;
    border: solid red 5px;
}

.logo-login {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    border: solid blue 5px;
}

.logo-login img {
    max-width: 200px;
    height: auto;
    border: solid red 5px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 500px;
    padding: 1% 5% 5%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    border: solid yellow 5px;
}

.form-control-login {
    width: 100%;
    margin-bottom: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    /* padding: 12px; */
    font-size: 16px;
    font-weight: bold;
    color: #002A52;
    border: solid black 5px;
}

.form-control-login label {
    display: block;
    margin-bottom: 5px;
    border: solid orange 5px;
}

.form-control-login input {
    width: 100%;
    max-width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border: solid darkslategray 5px;
}

.form-button-login {
    width: 100%;
    border: solid aqua 5px;
}

.btn-login {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3D9CFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    border: solid yellowgreen 5px;
}

.btn-login:hover {
    background-color: #1e6cb3;
    border: solid indigo 5px;
}

@media screen and (max-width: 600px) {
  .login-container {
        width: 100%; /* Puedes ajustar según tus necesidades */
  }

  .form-control-login input {
      width: 100%;
      max-width: 100%;
  }
}