.loginGeneral
{
  width: 100%;
  height: 100%;
}

.login-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #002A52;
    width: 100%;
    height: 100%;
}

.logo-login
{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.logo-login img
{
    max-width: 200px;
    height: auto;
}

.login-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 500px;
    padding: 1% 5% 5%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}

.form-control-login
{
    width: 100%;
    margin-bottom: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    /* padding: 12px; */
    font-size: 16px;
    font-weight: bold;
    color: #002A52;
}

.form-control-login label
{
    display: block;
    margin-bottom: 5px;
}

.form-control-login input
{
    width: 100%;
    max-width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-button-login
{
    width: 100%;

}

.btn-login
{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3D9CFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;

}

.btn-login:hover
{
    background-color: #1e6cb3;

}

@media screen and (max-width: 600px)
{
  .form-control-login input
  {
      width: 100%;
      max-width: 100%;
  }
}