*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: #F4F6F7;
  color: #212F3D;
  height: 100vh;
  width: 300px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #212F3D;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:#3D9CFF;
  color: #FFFFFF;
  transition: all 0.5s;
}
.active{
  background: #3D9CFF;
  color: #FFFFFF;
}
.icon, .link_text{
  font-size: 20px;
}

.navbar{
  width: 100%;
  height: 100px;
  background-color: #002A52;
  color:#FFF;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
}