@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap');

*,
*::before,
*::after
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto Flex', sans-serif;
}

html
{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body
{
  width: 100%;
  height: 100%;
}

#root
{
  width: 100%;
  height: 100%;
}

.containerLogin
{
  height: 100%;
  width: 100%;
}

.containerGeneral
{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  gap: 0 0;
  grid-template-areas:
    "navbar"
    "sidecontent";
  overflow: hidden;
}

.sidecontent
{
  height: 100%;
  width: 100%;
  grid-area: sidecontent;
}

.container
{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    "sidebar main";
  transition: grid-template-columns 0.5s ease;
}

main
{
  grid-area: main;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sidebar
{
  grid-area: sidebar;
  background: #F4F6F7;
  color: #212F3D;
  height: 100%;
  width: 100%;
  transition: all 0.5s;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  gap: 0 0;
  grid-template-areas:
    "bars"
    "iconosSideBar";
}

.iconosSideBar
{
  grid-area: iconosSideBar;

  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.logo
{
  font-size: 30px;
}

.bars
{
  grid-area: bars;
  display: flex;
  font-size: 25px;
  height: 45px;
  font-weight: bold;
  transition: all 0.5s;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

.link
{
  display: flex;
  color: #212F3D;
  padding: 10px 10px;
  gap: 15px;
  transition: all 0.5s;
  font-weight: bold;
}

.link:hover
{
  background:#CCD1D1;
  color: #212F3D;
  transition: all 0.5s;
}

.active
{
  background: #3D9CFF;
  color: #FFFFFF;
}

.loading-label
{
  font-size: 25px;
  font-weight: bold;
  color: #002A52;
}

.icon, .link_text
{
  font-size: 20px;
}

.navbar
{
  width: 100%;
  height: 100%;
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  background-color: #002A52;
  align-items: center;
}

.logout-navbar
{
  height: 100%;
}

.logout-button
{
  border: none;
  cursor: pointer;
  height: 100%;
  background-color: #002A52;
}



.logout-img
{
  height: 100%;
  width: 100%;
  padding: 10px;
}

.logout-img:hover
{
  box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
}

.logo-navbar
{
  height: 100%;
}

.logo-navbar img
{
  height: 100%;
  width: 100%;
  padding: 10px;
}

.search
{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.inputG
{
  height: 60%;
  display: flex;
}

.search-input
{
  flex: 1;
  width: 60px;
  height: 100%;
  border: none;
  border-radius: 10px 0 0 10px;
  outline: none;
  transition: width 0.3s ease-in-out;
  padding: 5px;
}

.search-input:hover,
.search-input:focus
{
  width: 400px;
}

.search-button
{
  width: 60px;
  height: 100%;
  background-color: #002A52;
  color: #fff;
  border: solid white 2px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.search-button:hover
{
  background-color: #2980b9;
}
@media only screen and (max-height: 600px)
{
  .inputG
  {
    height: 80%;
  }
}
@media only screen and (max-width: 800px)
{
  .search-input:hover,
  .search-input:focus
  {
    width: 300px;
  }
}
@media only screen and (max-width: 650px)
{
  .search-input:hover,
  .search-input:focus
  {
    width: 200px;
  }
}