@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap');

*,
*::before,
*::after
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto Flex', sans-serif
}

html
{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body
{
  width: 100%;
  height: 100%;
}

#root
{
  width: 100%;
  height: 100%;
}

.containerLogin
{
  border: solid purple 5px;
}

.containerGeneral
{

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  gap: 0 0;
  grid-template-areas:
    "navbar"
    "sidecontent";
  overflow: hidden;
border: solid red 5px;
}

.sidecontent
{
  height: 100%;
  width: 100%;
  grid-area: sidecontent;

 border: solid magenta 5px;
}

.container{

  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    "sidebar main";
  border: solid black 5px;
  transition: grid-template-columns 0.5s ease;
}
main{
grid-area: main;
  width: 100%;
  height: 100%;
  border: solid lawngreen 5px;

}
.sidebar{
  grid-area: sidebar;
  background: #F4F6F7;
  color: #212F3D;
  height: 100%;
  width: 100%;
  transition: all 0.5s;
  border: solid saddlebrown 5px;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
  gap:15px;
  height: 40px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
  height: 45px;
  font-weight: bold;
  transition: all 0.5s;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}
.link{
  display: flex;
  color: #212F3D;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  font-weight: bold;
}
.link:hover{
  background:#CCD1D1;
  color: #212F3D;
  transition: all 0.5s;
}
.active{
  background: #3D9CFF;
  color: #FFFFFF;
}

.loading-label{
  font-size: 25px;
  font-weight: bold;
  color: #002A52;
}

.icon, .link_text{
  font-size: 20px;
}

.navbar{
  width: 100%;
  height: 100%;
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  background-color: #002A52;
  align-items: center;
  border: solid yellow 5px;
}

.logout-navbar
{
  height: 100%;
}

.logout-button{
  border: none;
  cursor: pointer;
  height: 100%;
  background-color: #002A52;
}

.logout-img{
  height: 100%;
  width: 100%;

}

.logo-navbar{
  height: 100%;
}

.logo-navbar img{
  height: 100%;
  width: 100%;
}
