@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap');

*{
  margin:0;
  padding:0;
  text-decoration: none;
  font-family: 'Roboto Flex', sans-serif
}
.container{
  display:flex;
}
main{
  width: 100%;
  padding: 0px;
}
.sidebar{
  background: #F4F6F7;
  color: #212F3D;
  height: 100vh;
  width: 300px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
  gap:15px;
  height: 40px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
  height: 45px;
  align-items: center;
}
.link{
  display: flex;
  color: #212F3D;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  font-weight: bold;
}
.link:hover{
  background:#CCD1D1;
  color: #212F3D;
  transition: all 0.5s;
}
.active{
  background: #3D9CFF;
  color: #FFFFFF;
}
.icon, .link_text{
  font-size: 20px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  background-color: #002A52;
  color:#FFF;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
}

.logo-navbar{
  width: 200px;
  height: 40px;
  flex-shrink: 0;
  align-items: center;  
  margin-right: 20px;
}

.logo-navbar img{
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 768px) {
  .container {
    /* flex-direction: column; Cambia a apilado en pantallas pequeñas */
  }

  .sidebar {
    width: 100%; /* Ocupa el ancho completo en pantallas pequeñas */
  }

  .top_section {
    padding: 10px 15px; /* Reducción del espaciado en pantallas pequeñas */
  }

  .logo-navbar {
    width: auto; /* Ancho automático en pantallas pequeñas */
    height: auto; /* Altura automática en pantallas pequeñas */
    margin-right: 10px; /* Reducción del margen en pantallas pequeñas */
  }
}